In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dzhebariki-Khaya,RU,2022-08-22 19:05:02,62.2167,135.8000,42.57,93,100,3.87
1,1,Vaini,TO,2022-08-22 19:05:02,-21.2000,-175.2000,66.36,94,20,4.61
2,2,Saskylakh,RU,2022-08-22 19:05:03,71.9167,114.0833,40.93,78,82,4.27
3,3,Rikitea,PF,2022-08-22 19:06:43,-23.1203,-134.9692,69.82,72,22,12.10
4,4,Mitsamiouli,KM,2022-08-22 19:06:43,-11.3847,43.2844,74.44,77,5,7.27

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Shenjiamen,CN,2022-08-22 19:05:04,29.9576,122.2980,81.07,91,100,15.03
6,6,Guerrero Negro,MX,2022-08-22 19:05:05,27.9769,-114.0611,77.68,64,90,12.88
9,9,Faanui,PF,2022-08-22 19:05:09,-16.4833,-151.7500,77.41,76,50,16.28
11,11,Ambon,ID,2022-08-22 19:05:10,-3.6954,128.1814,78.51,81,36,15.10
12,12,Hithadhoo,MV,2022-08-22 19:05:10,-0.6000,73.0833,81.84,78,50,12.03
13,13,Abu Samrah,SY,2022-08-22 19:05:10,35.3029,37.1841,78.35,58,0,14.14
14,14,Kapaa,US,2022-08-22 19:01:34,22.0752,-159.3190,84.18,70,0,3.00
16,16,Bud,US,2022-08-22 19:05:11,39.4470,-86.1758,78.89,72,3,5.68
17,17,Susurluk,TR,2022-08-22 19:05:11,39.9136,28.1578,81.09,81,0,1.57
21,21,Fiumicino,IT,2022-08-22 19:05:13,41.7675,12.2291,80.35,83,0,5.75

In [15]:
preferred_cities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5       Shenjiamen      CN     81.07  29.9576  122.2980
6   Guerrero Negro      MX     77.68  27.9769 -114.0611
9           Faanui      PF     77.41 -16.4833 -151.7500
11           Ambon      ID     78.51  -3.6954  128.1814
12       Hithadhoo      MV     81.84  -0.6000   73.0833
13      Abu Samrah      SY     78.35  35.3029   37.1841
14           Kapaa      US     84.18  22.0752 -159.3190
16             Bud      US     78.89  39.4470  -86.1758
17        Susurluk      TR     81.09  39.9136   28.1578
21       Fiumicino      IT     80.35  41.7675   12.2291

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Shenjiamen,CN,81.07,29.9576,122.2980,Jinjiang Inn Zhoushan Putuo Shenjiamen
6,Guerrero Negro,MX,77.68,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
9,Faanui,PF,77.41,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
11,Ambon,ID,78.51,-3.6954,128.1814,Swiss-Belhotel Ambon
12,Hithadhoo,MV,81.84,-0.6000,73.0833,Scoop Guest House

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))